.antiscroll-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.antiscroll-scrollbar {
  background: gray;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 1px #fff;
  -moz-box-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;
  position: absolute;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
}

.antiscroll-scrollbar-shown {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.antiscroll-scrollbar-horizontal {
  height: 7px;
  margin-left: 2px;
  bottom: 2px;
  left: 0;
}

.antiscroll-scrollbar-vertical {
  width: 7px;
  margin-top: 2px;
  right: 2px;
  top: 0;
}

.antiscroll-inner {
  overflow: scroll;
}

.antiscroll-inner::-webkit-scrollbar, .antiscroll-inner::scrollbar {
  width: 0;
  height: 0;
}

#primary {display:none !important} .rendered h1[id]:before, .rendered h2[id]:before, .rendered h3[id]:before, .rendered h4[id]:before, .rendered div[id]:before {display:none !important} body {background-color:#faf4e8 !important; padding-top:0px !important} .sidebar {display:none !important} .documentation{display:block !important; float:none !important; margin:0px !important; min-width:0px !important; max-width:none !important;} #content {padding: 0 20px !important; width:auto !important} footer {display:none !important} #content {padding-left:0px !important; padding-right:0px !important} .content {background:white !important; padding-top:0px !important} .documentation {box-shadow:none !important} body{background-color:white !important} body .wrap {padding:0px !important} section#content {padding: 20px !important} 
